# Ignore Python cache files
__pycache__/
# add '.coverage' file
.coverage
coverage.xml
# as well as the htmlcov/ directory
htmlcov/
# ignore data cache
data/
# ignore html for uncovered files
uncovered/